<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
        <div id='app' class="container mt-5">
            <h1>{{titulo}}</h1>
            <input type="text" class="form-control my-3" v-model="ejercicio">
            <button class="btn btn-primary my-3" @click="agregarEjercicio">agregar</button>
            <div class="alert p-3" :class="{'alert-success':item.terminado,'alert-danger':!item.terminado}" role="alert" v-for="(item,index) in sortedArray">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                    {{index}}-{{item.nombre}}-{{item.terminado}}
                            </div>
                            <div>
                                    <button class="btn btn-danger btn-sm" @click="quitarEjercicio(index)">X</button>
                                    <button class="btn btn-success btn-sm" @click="marcarTerminado(index)">OK</button>
                            </div>
                        </div>
                        
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="main.js"></script>
</body>
</html>